<h2>Hi <%= currentUser.name %>. Welcome to the app !</h2>



<div class="login-page">
    <div class="form">
    <section class="share2">
         <h1>Picture Upload</h1> 
        <form enctype="multipart/form-data" action="/profile/profile" method="POST">
            <input type="file" name="inputFile">
            <input type="submit" class="btn btn-primary" >
        </form>
    </section>
    </div>
</div> 