


.container2{
  display: flex;
  justify-content: center;
  align-content: center;
}

.article {
	text-align: center;
	text-emphasis: none;
  font-size: medium;
}

#map{
	height: 300px;
	width: 500px;
	position: absolute;
	top:75%;
  left: 33%;
  
  }


  #map:hover{
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }

#header{
	position: absolute;
	top:50%;
	left: 33%;
}


body {
  text-align: center;
  color: darkblue;
  background:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26fd6cf1-cbf9-4270-b2b3-b1abcd7762f4/d63kxbv-009e158c-90b0-48f5-a678-9176ec383dbb.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjZmZDZjZjEtY2JmOS00MjcwLWIyYjMtYjFhYmNkNzc2MmY0XC9kNjNreGJ2LTAwOWUxNThjLTkwYjAtNDhmNS1hNjc4LTkxNzZlYzM4M2RiYi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.uA84y57sPDGXawreOstS9bm0C8fbN5qf-lyHY4jIEfI);
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 



.li {
 color: darkgray;
 size: .2px;
 opacity: .01;
}

.well {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: lightgray
}

.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
 
}

.share2{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  margin: 3%;

}

.btn-primary  {
height: 50px;
width: 100px;
}


.fitText {
  text-align: center;
  font-size: 25.5vw;
}


nav:hover{
color: black;
font-weight: bold;
}

/* Banner */

#banner {
  position: relative;
  color: darkblue
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  background: #35b88f url("/Users/lukemyers/Desktop/skytracker.blog.p2/public/images/banner.svg") bottom center no-repeat;  
  padding: 5em 0 5em 0;
  margin: 0;
  background-size: 125% auto;
  opacity: 1;
  
}


 #banner:hover {
  opacity:.7;
 }

/* ---------------------------- */

.gallery{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}


.picture{
  padding: 5px;
}


  #header header {
    display: inline-block;
    padding: 0 0 4.5em 0;
  }

    #header header h1 {
      font-weight: 600;
      font-size: 2em;
      letter-spacing: 10px;
    }

    #footer {
      position:fixed;
      left:0px;
      bottom:0px;
      height:30px;
      width:100%;
      background:#999;
   }